{
  "extends": [
    "airbnb-base"
  ],
  "env": {
    "node": true,
    "es2020": true
  },
  "parserOptions":
  {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "import/extensions": "off",
    "no-await-in-loop": "off"
  }
}